In [3]:
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv('large_art_ecommerce_dataset.csv')

In [6]:
df.head(5)

,Name of Painter,Subject of Painting,Style,Medium,Size,Frame,Location,Price ($),Delivery (days),Shipment,Color Palette,Copy or Original,Print or Real,Recommended Environment,Mood/Atmosphere,Theme/Lighting Requirements,Reproduction Type,Target Audience
0,Noah,Seascape,Abstract Expressionism,Watercolor,"20""x30""",Yes,Chicago,459,6,Free Shipping,Neutral Tones,Original,Print,Bedroom,Calming,Natural Light,Screen Print,Corporate Clients
1,Vincent,Abstract,Abstract Expressionism,Charcoal,"20""x30""",No,Miami,657,6,Free Shipping,Cool Tones,Original,Print,Living Room,Relaxing,Natural Light,NaN,Corporate Clients
2,Ava,Still Life,Modern,Watercolor,"18""x24""",No,Miami,907,7,Standard,Cool Tones,Original,Real,Kid Room,Joyful,Natural Light,NaN,Corporate Clients
3,Liam,Wildlife,Cubism,Acrylic,"18""x24""",No,Calgary,649,3,Standard,Oceanic Tones,Original,Real,Office,Reflective,Bright Light,Lithograph,Young Professionals
4,Olivia,Landscape,Abstract Expressionism,Charcoal,"30""x40""",Yes,Miami,539,5,Free Shipping,Earthy Tones,Copy,Print,Office,Energetic,Bright Light,Lithograph,Corporate Clients

In [7]:
df.shape

(2500, 18)

In [8]:
df.describe()

         Price ($)  Delivery (days)
count  2500.000000      2500.000000
mean    576.781200         6.482400
std     257.831587         2.282581
min     127.000000         3.000000
25%     344.000000         4.000000
50%     640.000000         7.000000
75%     813.000000         8.000000
max     975.000000        10.000000

In [9]:
df.describe(include=object)

,Name of Painter,Subject of Painting,Style,Medium,Size,Frame,Location,Shipment,Color Palette,Copy or Original,Print or Real,Recommended Environment,Mood/Atmosphere,Theme/Lighting Requirements,Reproduction Type,Target Audience
count,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,1823,2500
unique,11,7,6,5,5,2,8,3,5,2,2,5,5,3,4,5
top,Olivia,Wildlife,Surrealism,Watercolor,"16""x20""",No,Montreal,Free Shipping,Earthy Tones,Original,Print,Office,Relaxing,Dim Light,Lithograph,Interior Designers
freq,251,370,434,672,514,1285,535,834,528,1279,1282,515,512,840,623,527

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name of Painter              2500 non-null   object
 1   Subject of Painting          2500 non-null   object
 2   Style                        2500 non-null   object
 3   Medium                       2500 non-null   object
 4   Size                         2500 non-null   object
 5   Frame                        2500 non-null   object
 6   Location                     2500 non-null   object
 7   Price ($)                    2500 non-null   int64
 8   Delivery (days)              2500 non-null   int64
 9   Shipment                     2500 non-null   object
 10  Color Palette                2500 non-null   object
 11  Copy or Original             2500 non-null   object
 12  Print or Real                2500 non-null   object
 13  Recommended Environment      2500 non-null   object
 14  Mood/Atmosphere              2500 non-null   object
 15  Theme/Lighting Requirements  2500 non-null   object
 16  Reproduction Type            1823 non-null   object
 17  Target Audience              2500 non-null   object
dtypes: int64(2), object(16)
memory usage: 351.7+ KB

In [11]:
df.isnull().sum()

Name of Painter                  0
Subject of Painting              0
Style                            0
Medium                           0
Size                             0
Frame                            0
Location                         0
Price ($)                        0
Delivery (days)                  0
Shipment                         0
Color Palette                    0
Copy or Original                 0
Print or Real                    0
Recommended Environment          0
Mood/Atmosphere                  0
Theme/Lighting Requirements      0
Reproduction Type              677
Target Audience                  0
dtype: int64

**CLEANING**

In [12]:
df['Reproduction Type'] = df['Reproduction Type'].fillna('Not Applicable')

In [14]:
df = df.drop_duplicates()

In [16]:
columns_to_drop = ['Delivery (days)']
df = df.drop(columns_to_drop, axis=1)

In [17]:
df.shape

(2500, 17)

In [18]:
df.isnull().sum()

Name of Painter                0
Subject of Painting            0
Style                          0
Medium                         0
Size                           0
Frame                          0
Location                       0
Price ($)                      0
Shipment                       0
Color Palette                  0
Copy or Original               0
Print or Real                  0
Recommended Environment        0
Mood/Atmosphere                0
Theme/Lighting Requirements    0
Reproduction Type              0
Target Audience                0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

In [21]:
X = df[['Name of Painter', 'Style', 'Medium', 'Size', 'Frame', 'Location', 
        'Shipment', 'Color Palette', 'Copy or Original', 'Print or Real', 
        'Recommended Environment', 'Mood/Atmosphere', 'Theme/Lighting Requirements', 
        'Reproduction Type', 'Target Audience']]
y = df['Price ($)']

In [24]:
df = pd.concat([X,y], axis=1)

df.head()

,Name of Painter,Style,Medium,Size,Frame,Location,Shipment,Color Palette,Copy or Original,Print or Real,Recommended Environment,Mood/Atmosphere,Theme/Lighting Requirements,Reproduction Type,Target Audience,Price ($)
0,Noah,Abstract Expressionism,Watercolor,"20""x30""",Yes,Chicago,Free Shipping,Neutral Tones,Original,Print,Bedroom,Calming,Natural Light,Screen Print,Corporate Clients,459
1,Vincent,Abstract Expressionism,Charcoal,"20""x30""",No,Miami,Free Shipping,Cool Tones,Original,Print,Living Room,Relaxing,Natural Light,Not Applicable,Corporate Clients,657
2,Ava,Modern,Watercolor,"18""x24""",No,Miami,Standard,Cool Tones,Original,Real,Kid Room,Joyful,Natural Light,Not Applicable,Corporate Clients,907
3,Liam,Cubism,Acrylic,"18""x24""",No,Calgary,Standard,Oceanic Tones,Original,Real,Office,Reflective,Bright Light,Lithograph,Young Professionals,649
4,Olivia,Abstract Expressionism,Charcoal,"30""x40""",Yes,Miami,Free Shipping,Earthy Tones,Copy,Print,Office,Energetic,Bright Light,Lithograph,Corporate Clients,539

In [25]:
df.shape

(2500, 16)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name of Painter              2500 non-null   object
 1   Style                        2500 non-null   object
 2   Medium                       2500 non-null   object
 3   Size                         2500 non-null   object
 4   Frame                        2500 non-null   object
 5   Location                     2500 non-null   object
 6   Shipment                     2500 non-null   object
 7   Color Palette                2500 non-null   object
 8   Copy or Original             2500 non-null   object
 9   Print or Real                2500 non-null   object
 10  Recommended Environment      2500 non-null   object
 11  Mood/Atmosphere              2500 non-null   object
 12  Theme/Lighting Requirements  2500 non-null   object
 13  Reproduction Type            2500 non-null   object
 14  Target Audience              2500 non-null   object
 15  Price ($)                    2500 non-null   int64
dtypes: int64(1), object(15)
memory usage: 312.6+ KB

In [27]:
df.isnull().sum()

Name of Painter                0
Style                          0
Medium                         0
Size                           0
Frame                          0
Location                       0
Shipment                       0
Color Palette                  0
Copy or Original               0
Print or Real                  0
Recommended Environment        0
Mood/Atmosphere                0
Theme/Lighting Requirements    0
Reproduction Type              0
Target Audience                0
Price ($)                      0
dtype: int64

In [30]:
#Encoding

from sklearn.preprocessing import LabelEncoder

In [31]:
X_encoded = X.copy()

In [32]:
for col in X_encoded.columns:
    le = LabelEncoder()
    X_encoded[col] = le.fit_transform(X_encoded[col].astype(str))

In [33]:
X_encoded.shape

(2500, 15)

In [34]:
X_encoded.dtypes

Name of Painter                int64
Style                          int64
Medium                         int64
Size                           int64
Frame                          int64
Location                       int64
Shipment                       int64
Color Palette                  int64
Copy or Original               int64
Print or Real                  int64
Recommended Environment        int64
Mood/Atmosphere                int64
Theme/Lighting Requirements    int64
Reproduction Type              int64
Target Audience                int64
dtype: object

In [35]:
X_encoded.head()

,Name of Painter,Style,Medium,Size,Frame,Location,Shipment,Color Palette,Copy or Original,Print or Real,Recommended Environment,Mood/Atmosphere,Theme/Lighting Requirements,Reproduction Type,Target Audience
0,7,0,4,2,1,1,1,2,1,0,0,0,2,4,1
1,10,0,1,2,0,3,1,0,1,0,3,4,2,3,1
2,0,3,4,1,0,3,2,0,1,1,2,2,2,3,1
3,6,1,0,1,0,0,2,3,1,1,4,3,0,2,4
4,8,0,1,4,1,3,1,1,0,0,4,1,0,2,1

**TRAIN TEST SPLIT**

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
#10%
X_train_10, X_test_10, y_train_10, y_test_10 = train_test_split(X_encoded, y, test_size = 0.20, random_state = 42)